.home {
    color: rgb(0, 0, 0);
    text-align: center; 
    font-size:xx-large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    text-decoration: underline currentColor;
}

ul {
    display:flow-root;
    margin-top: 25%;
    color: #000000;
    font-size: x-large;
    text-align: center;
    list-style-type: circle solid black;
    list-style-position: inside;
    padding: 0;
  }

.footer {
    box-sizing: border-box;
    position: fixed;
    color: wheat;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10;
    text-align: center; 
    font-size: xx-large;
    font-weight: bold;
    background-color: black;
}   

.image {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 18%;
    height: auto;
}